config DRM_BRIDGE
	tristate
	depends on DRM
	help
	  Bridge registration and lookup framework.

menu "bridge chips"
	depends on DRM_BRIDGE

config DRM_PTN3460
	tristate "NXP ptn3460 eDP/LVDS bridge"
	depends on DRM && DRM_BRIDGE
	depends on OF
	depends on I2C
	select DRM_PANEL
	help
	  ptn3460 eDP-LVDS bridge chip driver.

endmenu
