config DRM_BRIDGE
	tristate
	depends on DRM
	select DRM_KMS_HELPER
	help
	  Bridge registration and lookup framework.

menu "bridge chips"
	depends on DRM_BRIDGE

config DRM_PTN3460
	tristate "PTN3460 DP/LVDS bridge"
	depends on OF
	depends on I2C
	help
	  ptn3460 eDP-LVDS bridge chip driver.

endmenu
