config DRM_PANEL
	bool
	depends on DRM
	help
	  Panel registration and lookup framework.

menu "Display Panels"
	depends on DRM_PANEL

config DRM_PANEL_SIMPLE
	tristate "support for simple panels"
	depends on OF
	help
	  DRM panel driver for dumb panels that need at most a regulator and
	  a GPIO to be powered up. Optionally a backlight can be attached so
	  that it can be automatically turned off when the panel goes into a
	  low power state.

config DRM_PANEL_LD9040
	tristate "LD9040 RGB/SPI panel"
	depends on DRM && DRM_PANEL
	depends on OF
	select SPI
	select VIDEOMODE_HELPERS

config DRM_PANEL_S6E8AA0
	tristate "S6E8AA0 DSI video mode panel"
	depends on DRM && DRM_PANEL
	depends on OF
	select DRM_MIPI_DSI
	select VIDEOMODE_HELPERS

config DRM_PANEL_EDP_LVDS
	tristate "support for eDP/LVDS panels"
	depends on OF && DRM_PANEL
	select VIDEOMODE_HELPERS
	help
	  DRM panel driver for direct eDP panels or LVDS connected
	  via DP bridges, that need at most a regulator for LCD unit,
	  a regulator for LED unit and/or enable GPIOs for LCD or LED units.
	  Delay values can also be specified to support powerup and
	  powerdown process.
endmenu
